/* index.html */
body {
    font-family: Roboto, sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    width: 1600px;
}

:root {
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --hero-background-color: #2F303A;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --footer-contact-color: rgba(255, 255, 255, 0.60); 
    --accent-color:  #2196F3;
    --white-color: #FFFFFF;
    --logo-color: #000;
    --logo-color-footer: #FFFFFF;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* header */
.header {
    display: block;
}
/* container */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.header .container {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

/* logo */
.logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.accent {
    color: var(--logo-color);
}

/* class-navigation */
.nav-list {
    display: flex;
}

.nav-list .item + .item {
    margin-left: 50px;
}

.navigation {
    margin-left: 93px;
}

.navigation .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.navigation .link:hover, 
.navigation .link:focus{
    color: var(--accent-color);
}

.navigation .link.current {
    color: var(--accent-color);
}

/* contact */
.contact-list {
    display: flex;
    margin-left: auto;
}

.contact-list .item + .item {
    margin-left: 40px;
}

.contact-list .contact {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact:hover, 
.contact:focus {
    color: var(--accent-color);
}


/* section-hero */
.hero {
    background: var(--hero-background-color);
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;  
}

.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

/* button */
.hero-btn {
    font-family: inherit;
    color: var(--white-color);
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    display: inline-block;
    padding: 10px 24px;
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    background-color: var(--accent-color);
}

.hero-btn {
    cursor: pointer;
}

/* section-feature */
.feature {

}

.feature-list {
    display: flex;
}

.feature-list .feature-item + .feature-item {
    margin-left: 30px;
}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.feature-title-descr {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    
}

/* section-direction */
.direction-list {
    display: flex;
}

.direction-list .item + .item {
    margin-left: 30px;
}

.direction {

}

.direction-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

/* section-team */
.team-list {
    display: flex;  
}

.team-item {
    display: block;
    background-color: var(--primary-background-color);
    border-radius: 0 0 4px 4px;
    text-align: center;
}

.team-list .team-item + .team-item {
    margin-left: 30px;
}

.team {
    background-color: var(--secondary-background-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 50px;
} 

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 30px;
    margin-bottom: 10px;    
}

.team-item-position {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 30px;
}

/* section-footer */
.footer {
    background-color: var(--hero-background-color);
}
.footer .logo {
    color: var(--accent-color);
    margin-bottom: 28px;
}
.footer .accent {
    color: var(--logo-color-footer);
}
.footer p{
    padding: 0;
    margin: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
    margin-bottom: 12px;
}
.footer-contact{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-contact-color);
    margin-bottom: 12px;
}
.footer-contact:hover, 
.footer-contact:focus {
    color: var(--accent-color);
}

/* portfolio.html */

/* section-filters */
.container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.filters-list {
    display: inline-block;
    flex-wrap: wrap;
    margin-bottom: 34px;  
}
.filter-btn {
    min-width: 67px;
    height: 38px;
}

.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    padding: 6px 22px;

}
.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}
.btn {
    cursor: pointer;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color); 
    margin-bottom: 4px;    
}
.project-descr {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}
.project-item {
    border: 1px solid #eee;
    width: 370px;
    height: 404px;
}

.projects-list .project-item {
    text-decoration: none;
}